#header
  border-radius 8px 8px 0 0
  background #C6EAFA linear-gradient(#DDFBFC, #C6EAFA)
  position relative
  padding 15px 30px
  border-bottom 1px solid #B2D2E1

  .title
    float left

  .nav
    float right
    font-family font-title
    line-height 2.5em

    ul
      list-style none
      li
        float left
        margin-left 26px

  h1
    margin 0
    padding 0
    font-size 24px
    font-weight normal
    line-height 1.2
    color #069
    text-shadow rgba(255, 255, 255, 0.9) 0 1px 0

  &.without-description h1
    margin 10px 0

  p
    margin 5px 0
    color #61778B
    //width 300px
    font-size 13px
    font-style italic